{% extends 'base.html' %}

{% block head %}
{% endblock head %}
{% block title %}
Performance
{% endblock title %}

{% block body %}
{% comment %} {{products | safe}} {% endcomment %}
{% comment %} <hr> {% endcomment %}
{% comment %} {{purchases | safe}} {% endcomment %}
{% comment %} <hr> {% endcomment %}
{{ df | safe }}
<hr>
{% csrf_token %}
<div class="container-fluid">
    <form class="ui form" action="" method="POST" >
    {% csrf_token %}
        <div class="field">
            <label>Choose a chart type</label>
            <select class="form-control" name='sales'>
                <option>----</option>
                <option value="bar">Bar plot</option>               
                <option value="line">Line plot</option>               
                <option value="count">Count plot</option>               
                    </div>
              </select>
        </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Date from: </label>
                    <input type="date" class="form-control" name="date_from" required>
                </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Date to: </label>
                <input type="date" class="form-control" name="date_to" value="Otto" required>
            </div>
            <div class="col-5 my-1">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
                
    </form>
</div>
    
    
    {% endblock body %}